#kin_meta_table td {
	padding: 0px 10px 15px 0;
}
.settings_page_kinetoscope input::-webkit-input-placeholder {
	padding-top: 2px;
}

.kin_add, .kin_remove {
	cursor: pointer;
	font-size:1.5em;
}

.kindynamic-field {
	display:block;
}